@import "../../app.scss";

.navbar {
    height: 100px;
    .wrapper {
        max-width: 1366px;
        margin: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;

        @include mobile {
            justify-content: flex-end;
            padding: 20px;
        }

        span {
            font-weight: bold;
            text-transform: uppercase;
            font-size: large;
            @include mobile {
                display: none;
            }
        }
        .socials {
            display: flex;
            gap: 15px;
            img {
                width: 23px;
                height: 23px;
            }
        }
    }
}